@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
/*---break---*/

.game-main{
  position: relative;
}

.game-main::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  background-size: cover;
  background-position: left;
  z-index: -1;
}

.game-main::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./images/fundo.png');
  background-size: cover;
  background-position: left;
  opacity: 0.5;
  z-index: -1;
}

@custom-variant dark (&:is(.dark *));
:root{
  /*HOME*/
  --ciano: #2ACDC5;
  --bg-header: #fff;
  --bg-instruct: #2ACDC5;
  --bg-robot: #010B14;
  --bg-footer: #000;
  --bg-nav: #01152A;
  --section-home-one: #2d2d2d;
  --font-color: #fff;
  --text-highlight: #757575;
  --color-border: #989898;
  --fontw-h2: 1.25rem;

  /*LOGIN/REGISTRO*/
  --ciano-bt: #2ACDC5;

  /*DEFAULT*/
  --bg-normal-pages: #01152A;
  --text-normal-color: #fff;

  /*INSTRUÇÃO*/
  --bg-itens: #0A233C;
  --color-instr: #fff;

  /*REFERÊNCIAS*/
  --bg-section: #2E7476;
  --bg-count: #85EFAC;
  --bg-article: #0A233C;
  --bg-info: #4A89D5;
}
/*---break---*/
.dark {

  /*HOME*/
  --ciano: #2ACDC5;
  --bg-header: #fff;
  --bg-instruct: #2ACDC5;
  --bg-robot: #010B14;
  --bg-footer: #000;
  --bg-nav: #01152A;
  --section-home-one: #2d2d2d;
  --font-color: #fff;
  --text-highlight: #757575;
  --color-border: #989898;
  --fontw-h2: 1.25rem;

  /*LOGIN/REGISTRO*/
  --ciano-bt: #2ACDC5;

  /*DEFAULT*/
  --bg-normal-pages: #01152A;
  --text-normal-color: #fff;

  /*INSTRUÇÃO*/
  --bg-itens: #0A233C;
  --color-instr: #fff;

  /*REFERÊNCIAS*/
  --bg-section: #2ACDC5;
  --bg-count: #85EFAC;
  --bg-article: #0A233C;
  --bg-info: #4A89D5;
}